---
---

.header-light{
	font-size: calc(1.3rem + .6vw);
	font-weight: 200;
	margin-bottom: 0;
}

.button-signup{
	background-color: #21C3B5;
	border-color: #21C3B5;
}

.email-call{
	font-weight: 600;
}

.neno-banner{
	color: #fff;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 0;
}

.neno-blurb{
	color: #fff;
	font-weight: 400;
	font-size: 1.3rem;
}

.footer{
	font-size: .75em;
}

@media (min-width: 992px) {
	.neno-banner{
		font-size: 3rem;
	}

	.neno-blurb{
		font-size: calc(1.3rem + .6vw);
	}
}
