---
---

.header-light{
	font-size: calc(1.3rem + .6vw);
	font-weight: 200;
	margin-bottom: 0;
}

.button-signup{
	background-color: #21C3B5;
	border-color: #21C3B5;
}

.email-call{
	font-weight: 600;
}

.neno-banner{
	color: #fff;
	font-weight: 600;
	font-size: 3rem;
	margin-bottom: 0;
}

.neno-blurb{
	color: #fff;
	font-weight: 400;
	font-size: calc(1.3rem + .6vw);
}
